/* /Shared/Components/MissionCard.razor.rz.scp.css */
.button[b-nhgqa9co2s] {
    margin: 16px;
}

.main[b-nhgqa9co2s] {
    color: white;
    border-radius: 8px;
    padding: 0px;
    background-image: linear-gradient(90deg, rgba(5, 39, 103, 0.7) 0%, rgb(58, 6, 71, 0.7) 70%);
    overflow: hidden;
    margin-bottom: 16px;
}

.content[b-nhgqa9co2s] {
    padding: 16px;
}

.bar[b-nhgqa9co2s] {
    width: 100%;
}

.edit-block[b-nhgqa9co2s] {
    text-align: right;
    padding: 0px;
}
/* /Shared/Components/ThemeSwitch.razor.rz.scp.css */
.emoji[b-huhq8kf4dg] {
    padding-top: 0.15rem;
}

.theme-switch[b-huhq8kf4dg] {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 1.75rem;
}

.theme-switch-circle[b-huhq8kf4dg] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.theme-switch-circle.theme-disabled[b-huhq8kf4dg] {
    opacity: 0.5;
    cursor: initial;
}

.theme-switch .theme-switch-circle[b-huhq8kf4dg] {
    background: #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 30px;
}

.theme-switch.theme-switch-checked .theme-switch-circle[b-huhq8kf4dg] {
    background: #479cc8;
}

.theme-switch .theme-switch-circle .circle[b-huhq8kf4dg] {
    background: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    left: 0.25rem;
    margin-top: -0.625rem;
    border-radius: 50%;
    transition-duration: 0.2s;
    box-shadow: none;
}

.theme-switch-circle .circle[b-huhq8kf4dg] {
    position: absolute;
    content: "";
    top: 50%;
}

.theme-switch-circle.theme-disabled .circle[b-huhq8kf4dg] {
    box-shadow: none;
}

.theme-switch.p-theme-switch-checked .theme-switch-circle .circle[b-huhq8kf4dg] {
    background: #ffffff;
}

.theme-switch.theme-switch-checked .theme-switch-circle .circle[b-huhq8kf4dg] {
    transform: translateX(1.75rem);
}

.unselectable[b-huhq8kf4dg] {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
