@page "/"
@using WebUI.Entities
@using WebUI.Shared

<PageTitle>Task Picker</PageTitle>


    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-8 col-md-8 col-sm-10 col-12">
            @if (missions != null)
            {
                <MissionCard Missions="missions.Missions" />
            }
        </div>
    </div>


@code {
    Random random = new Random();
    MissionList missions = new MissionList();
    BotNet? botNet;
    double value = 10;

    protected override void OnInitialized()
    {
        missions.Missions.Add(new Mission("Shavat Salo"));
        missions.Missions.Add(new Mission("Posharit Salo"));
        missions.Missions.Add(new Mission("Stushit Salo"));
        missions.Missions.Add(new Mission("Shavat Salo"));
    }

    private void Vote()
    {
        if (botNet == null)
            botNet = new BotNet(random, 10);

        botNet.Vote(random, missions);
        value += 5;
    }
}
