@page "/"
@using WebUI.Entities
@using WebUI.Shared.Components

<PageTitle>Task Picker</PageTitle>
<div class="container">

    <div class="row">
        <div class="col-12 pt-4 pb-5 px-3 px-lg-5">
            <RadzenCard>
                <h2 class="m-0">
                    Task List Name
                </h2>
            </RadzenCard>
            <RadzenCard class="my-2">
                @if (missions != null)
                {
                    @foreach (var mission in missions.Missions)
                    {
                        <h3>@mission.Name @mission.Weight</h3>
                    }
                }
            </RadzenCard>
            <TaskListFooter />
        </div>
    </div>
</div>


@code {
    Random random = new Random();
    MissionList missions = new MissionList();
    BotNet? botNet;

    protected override void OnInitialized()
    {
        missions.Missions.Add(new Mission("Shavat Salo"));
        missions.Missions.Add(new Mission("Posharit Salo"));
        missions.Missions.Add(new Mission("Stushit Salo"));
        missions.Missions.Add(new Mission("Shavat Salo"));
    }

    private void Vote()
    {
        if (botNet == null)
            botNet = new BotNet(random, 10);

        botNet.Vote(random, missions);
    }
}

