
<RadzenCard class="my-2">
    <div class="row">
        <div class=col-12>
            <RadzenProgressBar Value="22"/>
        </div>
    </div>
    <div class="row justify-content-start align-items-center pt-3">
        <div class="d-flex col-6">
            <RadzenBadge BadgeStyle="BadgeStyle.Danger" Style="font-size:1rem" class="mr-2">
               Average dullness: 
               <span class="font-weight-bold">
                   2235
               </span>
            </RadzenBadge>
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Style="font-size:1rem">
               Bots: 
               <span class="font-weight-bold">
                   2235
               </span>
            </RadzenBadge>
        </div>
        <div class="d-flex col-6 justify-content-end">
            <RadzenButton class="mr-3" Icon="play_arrow" Text="Start" ButtonStyle="ButtonStyle.Success"/>
            <RadzenButton Text="Stop" Icon="stop" ButtonStyle="ButtonStyle.Primary"/>
        </div>
    </div>
</RadzenCard>
@code {

}
